<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="klu.skill4.Student">
        <!-- Constructor Injection -->
        <constructor-arg value="101"/>
        <constructor-arg value="Jayachandra"/>
        <constructor-arg value="Java"/>
        <constructor-arg value="2025"/>

        <!-- Setter Injection -->
        <property name="course" value="Spring Framework"/>
        <property name="year" value="2026"/>
    </bean>

</beans>
